# Import Export 2020

Reading the data with pandas and joining and extracting product detailed files using fugue and duckdb

Data Source: http://www.cepii.fr/CEPII/en/bdd_modele/bdd_modele_item.asp?id=37

In [1]:
import pandas as pd

countries = pd.read_csv("../../data/BACI_HS17_V202201/country_codes_V202201.csv", encoding='latin-1')
ie_last = pd.read_csv("../../data/BACI_HS17_V202201/BACI_HS17_Y2020_V202201.csv", encoding='latin-1')

TOMATOES = 70200
SAFFRON = 91020
ICECREAM = 210500
BEER = 220300

Tutorial for working with Fugue and DuckDB
- https://towardsdatascience.com/fugue-and-duckdb-fast-sql-code-in-python-e2e2dfc0f8eb
- https://fugue-tutorials.readthedocs.io/tutorials/fugue_sql/operators.html

In [29]:
from fugue_notebook import setup
import fugue_duckdb

setup()

In [28]:
%%fsql
SELECT * FROM countries
LIMIT 5
PRINT

ANTLR runtime and generated code versions disagree: 4.11.1!=4.10.1
ANTLR runtime and generated code versions disagree: 4.11.1!=4.10.1

,country_code,country_name_abbreviation,country_name_full,iso_2digit_alpha,iso_3digit_alpha
0,4,Afghanistan,Afghanistan,AF,AFG
1,8,Albania,Albania,AL,ALB
2,12,Algeria,Algeria,DZ,DZA
3,16,American Samoa,American Samoa,AS,ASM
4,20,Andorra,Andorra,AD,AND

## Tomatoes

export path needs to be absoluted, so a mv command is needed afterwards

In [10]:
%%fsql

SELECT ie_last.t AS year,
ci.iso_3digit_alpha AS import_country_iso3,
ce.iso_3digit_alpha  AS export_country_iso3,
ie_last.v AS value,
ie_last.q AS quantity
FROM ie_last
INNER JOIN countries ci ON ci.country_code = ie_last.i
INNER JOIN countries ce ON ce.country_code = ie_last.j
WHERE k = {{TOMATOES}}
YIELD DATAFRAME AS tomatoes_data
SAVE OVERWRITE "/tmp/IE2020_tomatoes.csv" (header=true)

ANTLR runtime and generated code versions disagree: 4.11.1!=4.10.1
ANTLR runtime and generated code versions disagree: 4.11.1!=4.10.1

In [30]:
%%fsql

SELECT * FROM tomatoes_data
SAVE OVERWRITE "/tmp/IE2020_tomatoes.csv" (header=true)

ANTLR runtime and generated code versions disagree: 4.11.1!=4.10.1
ANTLR runtime and generated code versions disagree: 4.11.1!=4.10.1

tomatoes_data.to_csv("../dataset/IE2020_tomatoes.csv")

## Saffron

In [34]:
%%fsql

SELECT ie_last.t AS year,
ci.iso_3digit_alpha AS import_country_iso3,
ce.iso_3digit_alpha  AS export_country_iso3,
ie_last.v AS value,
ie_last.q AS quantity
FROM ie_last
INNER JOIN countries ci ON ci.country_code = ie_last.i
INNER JOIN countries ce ON ce.country_code = ie_last.j
WHERE k = {{SAFFRON}}
YIELD DATAFRAME AS tomatoes_data
SAVE OVERWRITE "/tmp/IE2020_saffron.csv" (header=true)

ANTLR runtime and generated code versions disagree: 4.11.1!=4.10.1
ANTLR runtime and generated code versions disagree: 4.11.1!=4.10.1

In [37]:
!mv /tmp/IE2020_saffron.csv ../dataset/

## Ice Cream

In [35]:
%%fsql

SELECT ie_last.t AS year,
ci.iso_3digit_alpha AS import_country_iso3,
ce.iso_3digit_alpha  AS export_country_iso3,
ie_last.v AS value,
ie_last.q AS quantity
FROM ie_last
INNER JOIN countries ci ON ci.country_code = ie_last.i
INNER JOIN countries ce ON ce.country_code = ie_last.j
WHERE k = {{ICECREAM}}
YIELD DATAFRAME AS tomatoes_data
SAVE OVERWRITE "/tmp/IE2020_icecream.csv" (header=true)

ANTLR runtime and generated code versions disagree: 4.11.1!=4.10.1
ANTLR runtime and generated code versions disagree: 4.11.1!=4.10.1

In [38]:
!mv /tmp/IE2020_icecream.csv ../dataset/

## Beer

In [36]:
%%fsql

SELECT ie_last.t AS year,
ci.iso_3digit_alpha AS import_country_iso3,
ce.iso_3digit_alpha  AS export_country_iso3,
ie_last.v AS value,
ie_last.q AS quantity
FROM ie_last
INNER JOIN countries ci ON ci.country_code = ie_last.i
INNER JOIN countries ce ON ce.country_code = ie_last.j
WHERE k = {{BEER}}
YIELD DATAFRAME AS tomatoes_data
SAVE OVERWRITE "/tmp/IE2020_beer.csv" (header=true)

ANTLR runtime and generated code versions disagree: 4.11.1!=4.10.1
ANTLR runtime and generated code versions disagree: 4.11.1!=4.10.1

In [39]:
!mv /tmp/IE2020_beer.csv ../dataset/